/* Empty. Add your own CSS if you like */

input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;
    
  

}

.helpsection {
	padding: 20px;
}
.pane{
	background-color:aqua;
	
}
.ion-list{
	background-color: black;
	
}


.helpsection-h2 { 
color: blue; 
}