<ion-view>
  <ion-nav-title>
    <font face="Lato-Regular" size= "5">Account</font>
    </ion-nav-title>
  <ion-content>


    <div class="list card">

      <div class="item item-divider">
        Account Information
      </div>
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email Address">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Phone ">
      </label>
      <div class="item item-divider">
        Interests </div>
      <ul class="list">

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Arts and Humanities
        </li>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Business
        </li>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Health and Medicine
        </li>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Public and Social Services
        </li>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Multi-/Interdisciplinary Studies
        </li>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Science, Math, and Technology
        </li>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Entertainment
        </li>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          Miscellaneous/ Other
        </li>

      </ul>

      <div class="item item-divider">
        Settings
      </div>

      <a class="item" href="#">

    General

  </a>
      <a class="item" href="#">

    Privacy

  </a>




    <a href="#/app/playlists">
      <button class="button button-block button-positive">
        Done
      </button>
    </a>




  </ion-content>

  <br><br>
</ion-view>
