head{

	
}
h1{
	background-color:black;
	font-size: 20px;
	color: red;
	padding: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 2px;
	padding-right: 2px;
}
a{
		
	
}
ul {
	background-color:rgba(178,148,148,0.71)
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
