html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

head{

	
}
body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: -webkit-linear-gradient(#861e00 0%, #ff6464 100%);
  color: #777;}

p
{ padding: 0 0 20px 0;
  margin-left: auto;
  margin-right: auto;
  color:black;
  line-height: 1.7em;}

#main{
	margin-left: auto;
	margin-right auto;
	position: center;
	
}
h1{
	color:red;
	width: 850px;
  height: 168px;
	position: center;
	
}
h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}
hc1
{
  font: normal 175% 'century gothic', arial, sans-serif;
  color: #000000;
  margin: 0 0 15px 0;
  padding: 15px 55px 5px 0;
  text-align:center
  
}
h2
{
	padding-top: 10px;
	font: normal 175% 'century gothic', arial, sans-serif;
	color: #777;
	font-size: 175%;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #1293EE;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}
hg1
{ color: #339900;
  font:normal 120% "Arial Black", Gadget, sans-serif}
hg2
{ color: #339900;
  font:normal 200% "Arial Black", Gadget, sans-serif}


ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ 

  background: black;
  position:center;
  height: 240px;}

#logo
{ 
  position: center;

  width: 850px;
  height: 168px;
  background: black url(logo.png) no-repeat;}

#logo #logo_text 
{
width: 850px;
  height: 168px;
	color=red;
	position: absolute;
	top: 30px;
	left: 137px;
}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: red;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #CDF63E;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;}

#menubar
{ 
  position: center;
  width: 850px;
  height: 72px;
  
  
  background: rgba(76,5,5,0.91) url(menu.png) repeat-x;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #813308 url(menu_select.png) repeat-x;}
#content
{
	margin-left: auto;
	margin-right: auto;
	font-color: black;
	width: 595px;
	padding: 0;
}
footer{
	background-color:rgba(188,164,164,0.86)
	
}

