head{

	
}
h1{
	background-color:black;
	font-size: 20px;
	color: red;
	padding: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 2px;
	padding-right: 2px;
}
ul {
	display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}