<ion-view view-title="Help">
  <ion-content>
    <div class="helpsection">

    <body >
    <h2><center>Frequently Asked Questions</center></h2>
    <p><strong>What is Trendr?</strong>
    	<br>A platform where learning and teaching become one. It is a tutorial app where all levels of knowledge is welcome. Users can search for new tutorials, while also being able to teach others on.
    </p>

    <p><strong>How do I search for tutorials?</strong>
    <br> Users can easily search for any tutorials saved on our database using the search bar located at the top of our home page. When users land on other pages of our website, they can easily return back to the home page using our side menu bar. 
	</p>

	<p><strong>What if I find a inappropriate or broken link?</strong>
	<br>Don't worry! These things happen, and if you happen to stumble on a broken link, please report it by clicking on "report" located at the bottom right of the post, and our app team will remove it! </p>
	<p><strong>How do I post tutorials? Can anybody post tutorials?</strong>
	<br>Yes! Any Trendr user can post tutorials. Users can easily post tutorials by clicking on the "post" button on the upper right hand corner of the webpage, and find their way.
	</p>
</body>
</div>



  </ion-content>
</ion-view>
