<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>

    <!--<div>
                Don't have an account? <a href="#/app/signup">Sign up</a>
            </div>-->
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal(2)">Close</button>
    </div>

  </ion-header-bar>
  <ion-content>

    <form ng-submit="doLogin(username,password)">
      <div class="list">

        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="username">
        </label>

        <span ng-show="err1" ng-style= "{color: 'red'}" > Please enter in a username </span>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password">
        </label>

        <span ng-show="err2" ng-style= "{color: 'red'}" > Please enter in a password </span>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>

        <span ng-show="err3" ng-style= "{color: 'red'}" > Have you mistyped your username or password? </span>

      </div>
    </form>

  </ion-content>
</ion-modal-view>
