<ion-view>
<ion-nav-title>
  <font face="Lato-Regular" size="5">My Posts</font>
</ion-nav-title>
  <ion-content>
    <h1>Welcome {{currentLoggedin.attributes.username}} {{login.name}}</h1>
    <h2>Here are your posts {{login.message}}</h2>

    <div>
      <ion-list>
        <ion-list>
          <ion-item ng-repeat="posts in posts" href="#/app/playlists/{{posts.objectId}}">
            {{posts.points}} {{posts.title}}


          </ion-item>
        </ion-list>


      </ion-list>
    </div>
  </ion-content>

</ion-view>
