
<ion-view view-title="Trendr">


    <ion-content>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search for learning resources!" ng-model="query">
            </label>
        </div>
        <select ng-model="orderProp">
          <option value="title">Alphabetical</option>
          <option value="-points">Newest</option>
        </select>

        <div ng-controller="PlaylistsCtrl" class="list">
            <ion-list>
                <ion-item ng-repeat="playlist in playlists| filter:query | orderBy:orderProp" href="#/app/playlists/:playlist.objectID">
                   {{playlist.points}} {{playlist.title}}
                </ion-item>
            </ion-list>
        </div>
        <br>
    </ion-content>
</ion-view>
