  <ion-view title="TRENDR">

	
	

  
  <ion-content>

  
  <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search for learning resources!"
  </label>
</div>
  
  <!--<input type=search placeholder="Search for learning resources!" -->

  <div class="list list-inset"
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
</div>

