<ion-view view-title="Article Submission Form">

  <ion-content>

    <div ng-controller="PostCtrl">
        <form ng-submit="newPost()">

     <div class="card"> 
     <div class="item item-divider">
   Create Post
  </div>     
        <label class ="item item-input">
            <span class="input-label"> Title of Post </span>
            <input type="text" ng-model="name" placeholder="what will appear to users">
        </label>

        <label class ="item item-input">
            <span class="input-label">URL  </span>
            <input type="text" ng-model="url" placeholder="please attach a valid link">
          </label>

         <label class ="item item-input">
            <span class="input-label"> Article Content </span>
                 <input type="text" ng-model="content" placeholder="copy and paste" >
          </label>



        <!--  <label class="item item-input item-floating-label">
            <span class="input-label" > Article Content</span>

            <input type="text" ng-model="content" placeholder="Article Content" >
          </label>-->


          <label class="item item-input item-select">
            <div class="input-label">
              Tags
            </div>
      <select ng-model="Category">
        <option value="programming">Programming</option>
        <option value="cooking">Cooking</option>
        <option value="diy">DIY</option>

        <!-- We can manually add more based on their other, possible form input? -->
        <option value="Tags">Other</option>
      </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        More tags?
      </div>
      <select ng-model="tags2">
        <option value="programming">Programming</option>
        <option value="cooking">Cooking</option>
        <option value="diy">DIY</option>

        <!-- We can manually add more based on their other, possible form input? -->
        <option value="other">Other</option>
      </select>
    </label>

  </div>



                <button type="submit" class="button button-block button-outline button-positive" href="#/app/playlists">Submit</button>
              </div>
        </form>
    </div>

  <!--
  <a href="#/app" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
    2


  <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>


  <label class="item item-input item-select">
    <div class="input-label">
      Tags/Cateogories
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
      <option>Blue</option>
      <option>Green</option>
      <option>Red</option>
      <option>Blue</option>
      <option>Green</option>
      <option>Red</option>
    </select>
  </label>


</div>
<div>
    <a href="#/app" ><button class="button button-positive" href= "#/app/browse" ng-click="post()">
        Submit
        </button></a>
</div>
-->



   


  </ion-content>
</ion-view>
