<ion-view view-title="Posting an Article">
  <ion-content>
    <h1 align=center >Article Submission Form</h1>
    	
    	
    	<label class ="item item-input">
    	
    		<span class="input-label"> Article Title</span>
    		<input type="text">
    	</label>
    	<label class ="item item-input">
    	
    		<span class="input-label"> URL</span>
    		<input type="text">
    	</label>
    	<label class ="item item-input">
    	
    		<span class="input-label"> Description</span>
    		<input type="text">
    	</label>
    	<label class ="item item-input">
    	
    		<span class="input-label"> Tags</span>
    		<input type="text">
    	</label>
    	<a href="#/app"><button> Submit</button></a>
    
    
    
  </ion-content>
</ion-view>
